/* INDEX PAGE */
@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Raleway);

ul li{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    list-style-type: none;
}

ul#documentation li h2{
   margin-top: 50px;
}

/* LINKS */
a{
    color:#666666;
    text-decoration: none;
    -webkit-transition-duration: 0.5s; /* Safari */
    transition-duration: 0.5s;
    font-family: 'Lobster', cursive;
}
li {
    float: left;
}
li a {
    display: block;
    padding: 16px;
    text-decoration: none;
}
a:hover{
    color:#f2f2f2;
    text-decoration: none;
    -webkit-transition-duration: 0.5s; /* Safari */
    transition-duration: 0.5s;
    cursor: pointer;
}
#title{
    text-align: center;
    padding-top: 20%;
    color:  #f2f2f2;
   /* text-shadow: 2px 2px #330033;*/
    font-family: 'Lobster', cursive;
    -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
    animation: fadein 3s;
}

#content{
    text-align: center;
}

#media li{
transition: all .2s ease-in-out;
}
#media li:hover{
    transform: scale(1.2);
}

h1 {
    font-size:5em;
    font-family: 'Lobster', cursive;
    user-select:none;
    text-shadow: 
        -1px -1px 0px #bfbfbf, 
        3px 3px 0px #bfbfbf,
        7px 7px 0px #666666;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
}

h1:hover{
 font-size:5em;
 font-family: 'Lobster', cursive;
 user-select:none;
 /*color: #668cff; */

 text-shadow: 
    -1px -1px 0px #bfbfbf, 
    3px 3px 0px #bfbfbf,
    7px 7px 0px #666666;
    -webkit-animation: swing 1s ease;
    animation: swing 1s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}


/* Project page H1 */
#top{
    background: #bfbfbf; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#bfbfbf, rgba(255,255,255,0)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#bfbfbf, rgba(255,255,255,0)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#bfbfbf, rgba(255,255,255,0)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#bfbfbf, rgba(255,255,255,0)); /* Standard syntax */
    position: fixed;
    top: 0px;
    width: 100%;
    text-align: center; 
    padding-bottom: 20px; 
}
#top h1 {
    color:  #f2f2f2;
    font-size:4em;
    font-family: 'Lobster', cursive;
    user-select:none;
    text-shadow: 
        -1px -1px 0px #bfbfbf, 
        3px 3px 0px #bfbfbf,
        7px 7px 0px #666666;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
}

#top h1:hover{
 font-size:4.5em;
 font-family: 'Lobster', cursive;
 user-select:none;
 /*color: #668cff; */
 text-shadow: 
    -1px -1px 0px #bfbfbf, 
    3px 3px 0px #bfbfbf,
    7px 7px 0px #666666;
    -webkit-animation: swing 1s ease;
    animation: swing 1s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

/* Buttons css and animation */
#buttons{
    float: right;
    position: relative;
    left: -52%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#buttons ul{
    list-style: none;
    position: relative;
    left: 50%;
}

#buttons ul li{
    display: inline;
    padding:20px;
}

button{
    background:  #666666;
    border: none;
    color:  #f2f2f2;
    padding: 20px 30px;
    border-radius: 15px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    font-size: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: bold;
}
button:hover{
    background-color: #668cff; 
    color: white;
    cursor: pointer
    
}
#button1{
    animation-delay: 2s;
    animation: 1s ease-out 0s 1 buttonload;
}
#button2{
    animation: 1.5s ease-out 0s 1 buttonload;
}
#button3{
    animation: 2s ease-out 0s 1 buttonload;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@keyframes buttonload{ 
    0%{
        transform: translateY(200%);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

/* Body style */
body {
	font: 100% Lato, Arial, Sans Serif;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
    background: #bfbfbf;
    color:  #666666
}

/* FLEX BOXES */
.flex-container {
    display: -webkit-flex;
    display: flex;
	margin: auto;
	-webkit-flex-direction: column;
	flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    width: 850px;
	margin-top: 200px;
	
}
.flex-item {
    width: 800px;
    margin: 10px;
	display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row; /* works with row or column */
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    margin-bottom: 50px;
}
/* Clickable image class */
.image img{
    border-radius: 15px;
    display: inline-block;
    vertical-align: middle;
}
.image{
    height: 100%;
	margin: 10px;
	width: 250px;
	transition: all .2s ease-in-out; 
}
.image:hover{
    height: 100%;
	margin: 10px;
	transform: scale(1.05);
}

/* Non clickable image */
.image-static{
    margin: 10px;
	width: 250px;
	height: 250px;
}
.textbox{
	margin:10px;
	width: 500px;
	height: 250px;
    padding-left: 30px;
}

/* CONTACT PAGE */
#contact{
    width: 700px;
    height:500px;
	position: fixed;
    top: 150px;
	left: 0;
	right: 0;
    margin:auto;
}


/* FOOTER- BOTTOM */
#bottom{
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center; 
    padding-bottom: 20px; 
    /*
    background: #bfbfbf; /* For browsers that do not support gradients 
    background: -webkit-linear-gradient(rgba(255,255,255,0),#bfbfbf); /* For Safari
    background: -o-linear-gradient(rgba(255,255,255,0),#bfbfbf); /* For Opera 11.1 
    background: -moz-linear-gradient(rgba(255,255,255,0),#bfbfbf); /
    background: linear-gradient(rgba(255,255,255,0),#bfbfbf);  */
}


